[user]
    email = info@dustvoice.de
    name = DustVoice
    signingkey = 7A9CA430D426100E

[core]
    editor = nvim

[push]
    default = simple
    followTags = true

[commit]
    gpgsign = true

[gpg]
    #program = gpg2
    program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"

[pull]
    rebase = false

[http]
    postBuffer = 500M

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[credential "https://git.dustvoice.de"]
	provider = generic
