/*
/*/
!/.gitignore

!/.bashrc
!/.gitconfig
!/.nvidia-xinitrc
!/.oh-my-zsh
!/.password-store
!/.restore-permissions
!/.tmux.conf
!/.vim
!/.vimrc
!/.xinitrc
!/.Xmodmap.example
!/.Xresources
!/.xsession
!/.zshenv
!/.zshpath.example
!/.zshrc
!/README.md

!/.config/
!/.gnupg/
!/.weechat/
!/.ssh/
!/.zsh/
!/AUR/
!/Wallpapers/
