/*
/*/
!/.gitignore

!/.bashrc
!/.gitconfig
!/.inputrc
!/.nvidia-xinitrc
!/.oh-my-zsh
!/.password-store
!/.tmux.conf
!/.xinitrc
!/.Xmodmap.example
!/.Xresources
!/.zshenv
!/.zshrc
!/README.md

!/.config/
!/.zsh/
!/AUR/
!/Wallpapers/

!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf
!/.gnupg/sshcontrol
