[user]
    email = info@dustvoice.de
    name = DustVoice
    signingkey = 7A9CA430D426100E

[core]
    editor = emacsclient -a "" -ut
    pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = false
    line-numbers = true

[push]
    default = simple
    followTags = true

[commit]
    gpgsign = true

[gpg]
    program = gpg2

[pull]
    rebase = false

[http]
    postBuffer = 500M

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
