/*
/*/
!/.gitignore

!/.bashrc
!/.gitconfig
!/.inputrc
!/.nvidia-xinitrc
!/.password-store
!/.tmux.conf
!/.xinitrc
!/.Xmodmap.example
!/.Xresources
!/.zshrc
!/README.md

!/.config/

!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf
!/.gnupg/sshcontrol

!/Wallpapers/
