[submodule ".password-store"]
	path = .password-store
	url = gitlab@gitlab.dustvoice.de:DustVoice/pass.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://gitlab.dustvoice.de/DustVoice/dustronvim.git
[submodule ".config/nushell/scripts/nu_scripts"]
	path = .config/nushell/scripts/nu_scripts
	url = https://github.com/nushell/nu_scripts
[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
