# -*- mode: gitconfig -*-
# vim: ft=gitconfig

[user]
    email = info@dustvoice.de
    name = DustVoice
    signingkey = 7A9CA430D426100E

[core]
    autocrlf = input
    editor = hx
    attributesfile = ~/.gitattributes

[push]
    default = simple
    followTags = true

[commit]
    gpgsign = true

[gpg]
    format = openpgp
{{- if eq .chezmoi.os "linux" }}
    program = gpg2
{{- else if .chezmoi.os "windows" }}
    program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
{{ end }}

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[pull]
    rebase = false

[http]
    postBuffer = 500M

[merge]
    conflictstyle = diff3

{{ if lookPath "mergiraf" }}
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
{{ end }}

[diff]
    colorMoved = default
{{- if lookPath "difft" }}
    external = difft
{{ end }}

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
