* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: #282a36;
    /*border: 2px solid #ff79c6;*/
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #282a36;
    border: none;
}

#tags button {
    padding: 0 5px;
    background-color: transparent;
    color: #f8f8f2;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
    background: #f8f8f2;
    /*background: rgba(0, 0, 0, 0.2);*/
    /*box-shadow: inset 0 -2px #282a36;*/
    /*background-color: #6272a4;*/
    color: #282a36;
}

#tags button.focused {
    background-color: #44475a;
    box-shadow: inset 0 -2px #f8f8f2;
}

#tags button.urgent {
    background-color: #ffb86c;
}

#mode {
    background-color: #44475a;
    border-bottom: 2px solid #f8f8f2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #f8f8f2;
}

#window,
#tags {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #44475a;
}

#battery {
    background-color: #8be9fd;
    color: #282a36;
}

#battery.charging, #battery.plugged {
    color: #282a36;
    background-color: #50fa7b;
}

@keyframes blink {
    to {
        background-color: #f8f8f2;
        color: #282a36;
    }
}

#battery.critical:not(.charging) {
    background-color: #ff5555;
    color: #282a36;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282a36;
}

#cpu {
    background-color: #50fa7b;
    color: #282a36;
}

#memory {
    color: #282a36;
    background-color: #bd93f9;
}

#disk {
    background-color: #8be9fd;
}

#backlight {
    background-color: #6272a4;
}

#network {
    background-color: #6272a4;
    color: #f8f8f2;
}

#network.disconnected {
    background-color: #8be9fd;
    color: #282a36;
}

#pulseaudio {
    background-color: #ffb86c;
    color: #282a36;
}

#pulseaudio.muted {
    background-color: #ff5555;
    color: #282a36;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: #282a36;
    background-color: #f1fa8c;
}

#temperature.critical {
    background-color: #ff5555;
}

#tray {
    background-color: #282a36;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ffb86c;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #282a36;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
