Host dustdev
    HostName dev.dustvoice.de
    User dustvoice
    ForwardAgent yes
{{ if eq .chezmoi.hostname "nb-mz-holland" }}
Host *
{{- if eq .chezmoi.os "windows" }}
    ProxyCommand ncat --proxy ldiproxy.lsjv.rlp.de:8080 %h %p
{{- else }}
    ProxyCommand nc -X connect -x ldiproxy.lsjv.rlp.de:8080 %h %p
{{- end}}
{{- end }}
