Host dustdev
    HostName dev.dustvoice.de
    User dustvoice
    ForwardAgent yes

Host dustdev-root
    HostName dev.dustvoice.de
    User root
    ForwardAgent yes
    IdentityFile ~/.ssh/id_ed25519_sk_root

{{ if eq .chezmoi.hostname "nb-mz-holland" }}
Host *
{{- if eq .chezmoi.os "windows" }}
    ProxyCommand ncat --proxy ldiproxy.lsjv.rlp.de:8080 %h %p
{{- else }}
    ProxyCommand nc -X connect -x ldiproxy.lsjv.rlp.de:8080 %h %p
{{- end}}
{{- end }}
