Host dustdev
    SetEnv TERM=xterm
    HostName dev.dustvoice.de
    User dustvoice
    ForwardAgent yes
    PasswordAuthentication no
    IdentityFile ~/.ssh/id_ed25519_sk_dustdev

Host dustdev-root
    SetEnv TERM=xterm
    HostName dev.dustvoice.de
    User root
    ForwardAgent yes
    PasswordAuthentication no
    IdentityFile ~/.ssh/id_ed25519_sk_dustdev_root

Host *
    SetEnv TERM=xterm
{{ if eq .chezmoi.hostname "nb-mz-holland" }}
{{- if eq .chezmoi.os "windows" }}
    ProxyCommand ncat --proxy ldiproxy.lsjv.rlp.de:8080 %h %p
{{- else }}
    ProxyCommand nc -X connect -x ldiproxy.lsjv.rlp.de:8080 %h %p
{{- end}}
{{- end }}
