/*
/*/
!/.gitignore

!/alias.conf
!/buflist.conf
!/charset.conf
!/exec.conf
!/fifo.conf
!/fset.conf
!/guile.conf
!/irc.conf
!/logger.conf
!/lua.conf
!/perl.conf
!/plugins.conf
!/python.conf
!/relay.conf
!/ruby.conf
!/script.conf
!/sec.conf
!/spell.conf
!/tcl.conf
!/trigger.conf
!/weechat.conf
!/xfer.conf

!/guile/
!/logs/
!/lua/
!/perl/
!/python/
!/ruby/
!/script/
!/tcl/
!/xfer/
