/*
/*/
!/.gitignore

!/starship.toml
!/vconsole.conf
!/nvim

!/alacritty/
!/astronvim/
!/bat/
!/bspwm/
!/dmenu/
!/dmenu-wl/
!/elvish/
!/fish/
!/helix/
!/ion/
!/nitrogen/
!/nushell/
!/polybar/
!/rustfmt/
!/river/
!/sxhkd/
!/waybar/
!/xonsh/
